# Ignore environment variables and secret keys
.env
*.json  # Hides API credential files
*.pem
*.p12

# Ignore compiled Python files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore Django migration and database files
db.sqlite3
media/
staticfiles/
*.log

# Ignore virtual environment
venv/